<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HeadHunter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HeadHunter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Public" asp-action="Publications">
                                        @if (User.IsInRole("applicant"))
                                        {
                                            <span>Vacancies</span>
                                        }
                                        else
                                        {
                                            <span>Resumes</span>
                                        }
                                    </a>
                                </li>
                                <li class="nav-item" style="margin-left: auto; margin-right: auto;">
                                    <form id="search">
                                        <div class="form-outline">
                                            <input style="text-align: center;" type="text" id="SearchString" class="form-control" placeholder="Search"
                                                   aria-label="Search" />
                                        </div>
                                    </form>
                                </li>
                            </ul>
                            <div class="login_group ml-auto">
                            @if (User.IsInRole("applicant"))
                            {
                                <a class="text-dark" asp-area="" asp-controller="Applicant" asp-action="ApplicantProfile">@User.Identity.Name</a>
                            }
                            else
                            {
                                <a class="text-dark" asp-area="" asp-controller="Bosses" asp-action="BossesProfile">@User.Identity.Name</a>
                            }

                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <input type="submit" value="Выход" />
                            </form>
                            </div>
                        }
                        else
                        {
                            <div class="login_group ml-auto">
                            <a asp-controller="Account" asp-action="Login">Вход</a>
                            <a asp-controller="Account" asp-action="Register">Регистрация</a>
                        </div>
                        }          
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - HeadHunter - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
   $('#search').on('submit', function (event) {
               event.preventDefault();
               var searchKey = $('#SearchString').val();
               searchKey = encodeURIComponent(searchKey);
               window.location.href = '@Url.Action("Publications","Public")?searchString=' + searchKey;
   });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
