@model BossesProfileViewModel
@{ 
    ViewBag.Tittle = "Profile";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-5 text-center">
        <img src="~/avatars/@Model.User.LinkImg" width="200" height="200" class="border border-dark rounded-circle p-2" />
    </div>
    <div class="col-7 pt-3">
        <p>Nickname: <b style="font-size:25px;">@Model.User.UserName</b></p>
        <p>Surname: @Model.User.Surname</p>
        <p>Name: @Model.User.Name</p>
        <p>Компания: @Model.User.CompanyName</p>
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#EditModal">Edit</button>
    </div>
</div>

<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditModalLabel">Редактирование</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Bosses" asp-action="Edit" enctype="multipart/form-data" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="User.Id" value="@Model.User.Id" />
                    <label asp-for="File" class="control-label">Загрузка аватарки</label>
                    <input asp-for="File" type="file" class="form-control" />
                    <div class="form-group">
                        <label asp-for="User.Email" class="control-label">Почта</label>
                        <input asp-for="User.Email" class="form-control" />
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.UserName" class="control-label">Никнейм</label>
                        <input asp-for="User.UserName" class="form-control" />
                        <span asp-validation-for="User.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Surname" class="control-label">Фамилие</label>
                        <input asp-for="User.Surname" class="form-control" />
                        <span asp-validation-for="User.Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Name" class="control-label">Имя</label>
                        <input asp-for="User.Name" class="form-control" />
                        <span asp-validation-for="User.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.CompanyName" class="control-label">Компания</label>
                        <input asp-for="User.CompanyName" class="form-control" />
                        <span asp-validation-for="User.CompanyName" class="text-danger"></span>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button id="editModalButton" type="submit" class="btn btn-primary ml-3">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script>

    </script>
}
