@model Chat
@{
    ViewBag.Tittle = "Personal Chat";
    Layout = "_Layout";
}
<div class="card">
    <div class="card-header">
        @if (User.IsInRole("applicant"))
        {
            <img src="~/avatars/@Model.FirstUser.LinkImg" width="50" height="50" class="rounded-circle p-2" />
            <a>@Model.FirstUser.CompanyName</a>
        }
        else
        {
            <img src="~/avatars/@Model.SecondUser.LinkImg" width="50" height="50" class="rounded-circle p-2" />
            <a>@Model.SecondUser.Name @Model.SecondUser.Surname</a>
        }
        <div class="btn-group float-right">
            <button type="button" class="btn btn-info">Action</button>
            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-controller="Public" asp-action="ResumeDetails" asp-route-resumeId="@Model.ResumeId">Resume</a>
                <a class="dropdown-item" asp-controller="Public" asp-action="VacancyDetails" asp-route-vacancyId="@Model.VacancyId">Vacancy</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="messages" style="overflow: scroll; overflow-x: hidden; height: 500px;">
            @foreach (Message item in ViewBag.Messages)
            {
                if (item.SenderId == ViewBag.CurrentUser)
                {
                    <p class="mx-4 my-0 text-right">@item.DateOfSending</p>
                    <div class="m-3 p-4 w-50 ml-auto text-white" style="border-radius: 30px; background-color:rgb(56, 171, 252);">
                        @item.Text
                    </div>
                }
                else
                {
                    <p class="mx-4 my-0">@item.DateOfSending</p>
                    <div class="m-3 p-4 w-50 bg-light" style="border-radius: 30px;">
                        @item.Text
                    </div>
                }
            }
        </div>
        @if (@User.IsInRole("boss"))
        {
            <p id="senderId" style="display: none;">@Model.FirstUser.Id</p>
        }
        else
        {
            <p id="senderId" style="display: none;">@Model.SecondUser.Id</p>
        }
        <p id="chatId" style="display: none;">@Model.Id</p>
        <div class="p-1">
            <textarea id="text" rows="4" class="form-control" placeholder="Введите сообщение"></textarea>
            <input type="button" class="btn btn-secondary text-light m-2"
               onclick="SendMessage()" value="Отправить" />
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        function SendMessage() {
            if ($('#text').val().length > 0) {
                $.ajax({
                    url: '@Url.Action("SendMessage", "Public")',
                    type: 'POST',
                    data: { 'senderId': $('#senderId').text(), 'chatId': $('#chatId').text(), 'text': $('#text').val() },
                    success: function (data) {
                        console.log(data);
                        MessageRight(data);
                    },
                });
            }
        }

        function MessageRight(data) {
            console.log("right" + data);
            $('#messages').append('<p class="mx-4 my-0 text-right">' + `@DateTime.Now` + '</p><div class="m-3 p-4 rounded w-50 ml-auto text-white"' +
                ' style="background-color:rgb(211, 78, 189);" >' +
                data['text'] + '</div>');
            $('#text').val('');
            $('#messages').scrollTop($('#messages').prop('scrollHeight'));
        }

        function MessageLeft(data) {
            console.log("left " + data);
            $('#messages').append('<p>' + `@DateTime.Now` + '</p><div class="m-3 p-4 rounded w-50 text-light"' +
                ' style="background-color:rgb(40, 40, 40);" > ' +
                data['text'] + '</div>')
            $('#text').val('');
            $('#messages').scrollTop($('#messages').prop('scrollHeight'));
        }

        function CheckNewMessages() {
            console.log()
            $.ajax({
                url: '@Url.Action("CheckNewMessages", "Public")',
                type: 'POST',
                data: { 'chatId': $('#chatId').text(), 'count': $('#messages div').length },
                success: function(arr) {
                    console.log(arr);
                    console.log(i++);
                    if (arr.length > 0) {
                        arr.forEach(element => MessageLeft(element));
                    }
                },

            });
        }
        $('#messages').scrollTop($('#messages').prop('scrollHeight'));
        let i = 1;
        setInterval(function () {
            CheckNewMessages();
        }, 5000);

    </script>
} 