@model PublicationsViewModel
@{
    ViewBag.Tittle = "Publications";
    Layout = "_Layout";
}

<div class="btn-group mb-2">
    <button class="btn btn-light btn-sm" type="button">Сортировать по</button>
    <button type="button" class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-action="Publications" asp-route-sortOrder="@ViewBag.DateSort">по дате</a>
        <a class="dropdown-item" asp-action="Publications" asp-route-sortOrder="@ViewBag.WageSort">по зарплатеы</a>
    </div>
</div>

<p id="hidden-id" style="display: none;"></p>

<form asp-action="Publications" asp-controller="Public" method="get">
    <div class="form_row">
        <label for="">
            Category<br />
            <select asp-for="CategoryId" class="custom-select">
                <option selected disabled>Choose category</option>
                @foreach (var item in ViewBag.Categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </label>
    </div>
    <button type="submit" class="btn btn-info mb-2">Filter</button>
</form>

@if (@Model.Resumes == null)
{
    if (@Model.Vacancies.Count() > 0)
    {
<div class="vacancies">
    @foreach (var item in Model.Vacancies)
    {
        <div class="card my-2" onclick="detailsVacancy('@item.Id')" style="cursor:pointer;">
            <div class="card-body">
                <div>
                    <p class="float-right" style="font-size: 20px;">from @item.Wage $</p>
                    <h5 class="card-title">@item.Name</h5>
                    <a class="text-dark" asp-controller="Public" asp-action="BossesProfile" asp-route-userId="@item.UserId">@item.User.CompanyName</a><br />
                    <button type="button" class="btn btn-primary my-2" data-toggle="modal" data-target="#ChoiseModal" onclick="SaveId('@item.Id')">Send Message</button>
                </div>
                <p class="card-text"><small class="text-muted">Last updated @item.DateOfUpdate</small></p>
            </div>
        </div>
    }
<ul class="pagination">
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <li class="page-item">
            <a asp-action="Publications" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="page-link">
                <span class="material-icons" style="font-size: 1rem">
                    navigate_before
                </span>
            </a>
        </li>
    }

    @for (int i = 1; i <= ViewBag.PageCount; i++)
    {
        @if (i == Model.PageViewModel.PageNumber)
        {
            <li class="page-item active">
                <a asp-action="Publications" asp-route-page="@i" class="page-link">@i</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a asp-action="Publications" asp-route-page="@i" class="page-link">@i</a>
            </li>
        }
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <li class="page-item">
            <a asp-action="Publications" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="page-link">
                <span class="material-icons" style="font-size: 1rem">
                    navigate_next
                </span>
            </a>
        </li>
    }
</ul>
</div>
    }
    else
    {
        <p class="text-center font-weight-bold">Опубликованных вакансий еще нет</p>
    }
}
else
{
    @if (Model.Resumes.ToList().Count > 0)
    {
<div class="resumes">
    @foreach (var item in Model.Resumes)
    {
        <div class="card my-2" onclick="detailsResume('@item.Id')" style="cursor:pointer;">
            <div class="card-body">
                <div>
                    <p class="float-right" style="font-size: 20px;">from @item.Wage $</p>
                    <h5 class="card-title">@item.JobTitle</h5>
                    <a class="text-dark" asp-controller="Public" asp-action="ApplicantProfile" asp-route-userId="@item.UserId">@item.User.Name @item.User.Surname</a><br />
                    <button type="button" class="btn btn-primary my-2" data-toggle="modal" data-target="#ChoiseModal" onclick="SaveId('@item.Id')">Send Message</button>
                </div>
                <p class="card-text"><small class="text-muted">Last updated @item.UpdateDate</small></p>
            </div>
        </div>
    }
<ul class="pagination">
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <li class="page-item">
            <a asp-action="Publications" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="page-link">
                <i class="glyphicon glyphicon-chevron-left" style="font-size: 1rem"></i>Назад
            </a>
        </li>
    }

    @for (int i = 1; i <= ViewBag.PageCount; i++)
    {
        @if (i == Model.PageViewModel.PageNumber)
        {
        <li class="page-item active">
            <a asp-action="Publications" asp-route-page="@i" class="page-link">@i</a>
        </li>
        }
        else {
        <li class="page-item">
            <a asp-action="Publications" asp-route-page="@i" class="page-link">@i</a>
        </li>
        }

        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <li class="page-item">
                <a asp-action="Publications" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="page-link">
                    Вперед<i class="glyphicon glyphicon-chevron-right" style="font-size: 1rem"></i>
                </a>
            </li>
        }
    </ul>
</div>
    }
    else
    {
        <p class="text-center font-weight-bold">Опубликованных резюме еще нет</p>
    }
}


<div class="modal fade" id="ChoiseModal" tabindex="-1" role="dialog" aria-labelledby="ChoiseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.Resumes != null)
                {
                    <h5 class="modal-title" id="ChoiseModalLabel">Выберите резюме</h5>
                }
                else
                {
                    <h5 class="modal-title" id="ChoiseModalLabel">Выберите вакансию</h5>
                }

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="m-3">
                <div class="btn-group">
                    @if (Model.Resumes != null)
                    {
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Выберите вакансию
                        </button>
                        <div class="dropdown-menu">
                            @foreach (var item in ViewBag.MyVacancies)
                            {
                                <a class="dropdown-item" onclick="CreateChatBoss('@item.Id')">@item.Name</a>
                            }
                        </div>
                    }
                    else
                    {
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Выберите вакансию
                        </button>
                        <div class="dropdown-menu">
                            @foreach (var item in ViewBag.MyResumes)
                            {
                                <a class="dropdown-item" onclick="CreateChatApplicant('@item.Id')">@item.JobTitle</a>
                            }
                        </div>
                    }
                    </div>
                </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>


        function SaveId(id) {
            event.stopPropagation();
            $('#hidden-id').val(id);
            console.log($('#hidden-id').val());
            $('#ChoiseModal').modal('show');
        }

        function CreateChatBoss(id) {
            console.log(id);
            console.log($('#hidden-id').val())
            $.ajax({
                url: '@Url.Action("CreateChat", "Public")',
                type: 'POST',
                data: { 'vacancyId': id, 'resumeId': $('#hidden-id').val() },
                success: function (data) {
                    console.log(data);
                    window.location.href = '@Url.Action("PersonalChat","Public")?chatId=' + data['chatId'];
                    //window.location = data.url;
                }
            });
        }
        function CreateChatApplicant(id) {
            console.log(id);
            console.log($('#hidden-id').val())
            $.ajax({
                url: '@Url.Action("CreateChat", "Public")',
                type: 'POST',
                data: { 'vacancyId': $('#hidden-id').val(), 'resumeid': id },
                success: function (data) {
                    console.log(data);
                    window.location.href = '@Url.Action("PersonalChat","Public")?chatId=' + data['chatId'];
                    //window.location = data.url;
                }
            });
        }

        function detailsResume(resumeId) {
            window.location.href = '@Url.Action("ResumeDetails","Public")?resumeId=' + resumeId;
        }
        function detailsVacancy(vacancyId) {
            window.location.href = '@Url.Action("VacancyDetails","Public")?vacancyId=' + vacancyId;
        }
    </script>
}