@model PublicationsViewModel
@{
    ViewBag.Tittle = "Resumes";
    Layout = "_Layout";
}
<form asp-action="Publications" asp-controller="Public" method="get">
    <div class="form_row">
        <label for="">
            Category<br />
            <select asp-for="CategoryId" class="custom-select">
                <option selected disabled>Choose category</option>
                @foreach (var item in ViewBag.Categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </label>
    </div>
    <button type="submit" class="btn btn-info mb-2">Filter</button>
</form>

@if (@Model.Resumes == null)
{
    if (@Model.Vacancies.Count() > 0)
    {
        <div class="vacancies">
            @foreach (var item in Model.Vacancies)
            {
                <div class="card my-2" onclick="detailsVacancy('@item.Id')" style="cursor:pointer;">
                    <div class="card-body">
                        <div>
                            <p class="float-right" style="font-size: 20px;">from @item.Wage $</p>
                            <h5 class="card-title">@item.Name</h5>
                            <a class="text-dark" asp-controller="Public" asp-action="BossesProfile" asp-route-userId="@item.UserId">@item.User.CompanyName</a><br />
                            <button type="button" class="btn btn-primary my-2">Send Message</button>
                        </div>
                        <p class="card-text"><small class="text-muted">Last updated @item.DateOfUpdate</small></p>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-center font-weight-bold">Опубликованных вакансий еще нет</p>
    }
}
else
{
    @if (Model.Resumes.ToList().Count > 0)
    {
        <div class="resumes">
            @foreach (var item in Model.Resumes)
            {
                <div class="card my-2" onclick="detailsResume('@item.Id')" style="cursor:pointer;">
                    <div class="card-body">
                        <div>
                            <p class="float-right" style="font-size: 20px;">from @item.Wage $</p>
                            <h5 class="card-title">@item.JobTitle</h5>
                            <p>@item.User.Name @item.User.Surname</p>
                            <button type="button" class="btn btn-primary">Send Message</button>
                        </div>
                        <p class="card-text"><small class="text-muted">Last updated @item.UpdateDate</small></p>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-center font-weight-bold">Опубликованных резюме еще нет</p>
    }
}
@section Scripts
{
    <script>
        function detailsResume(resumeId) {
            window.location.href = '@Url.Action("ResumeDetails","Public")?resumeId=' + resumeId;
        }
        function detailsVacancy(vacancyId) {
            window.location.href = '@Url.Action("VacancyDetails","Public")?vacancyId=' + vacancyId;
        }
    </script>
}