@model Resume
@{
    ViewBag.Tittle = "Profile";
    Layout = "_Layout";
}
<div class="card">
    <div class="card-body mx-5">
        <div class="pt-2">
            <p>Имя: @Model.Name</p>
            <p>Фамилия: @Model.Surname</p>
            <p>Email: @Model.Email</p>
            <p>Номер телефона: @Model.PhoneNumber</p>
            <p>Дата рождения: @Model.BirthDate.ToString("dd.MM.yyyy")</p>
            <p>Город проживания: @Model.CityName</p>
            <p>Название должности: @Model.JobTitle</p>
            <p>Категория: @ViewBag.Category.Name</p>
            <p>Желаемая заработная плата в долларах США: @Model.Wage</p>
            @if (ViewBag.Work.Count != 0)
            {
                <h5 style="text-align:center;" class="pt-2">Work experience</h5>
                @foreach (var item in ViewBag.Work)
                {
                 <div class="border rounded p-2 pl-4 mt-2">
                    <p>Название компании: @item.CompanyName</p>
                    <p>Должность: @item.Position</p>
                    <p>Дата начала работы: @item.DateOfReceiving</p>
                    <p>Дата окончания работы: @item.DateOfEnd</p>
                 </div>
                }
            }
            @if (ViewBag.Education.Count != 0)
            {
                <h5 style="text-align:center;" class="pt-4">Education experience</h5>
                @foreach (var item in ViewBag.Education)
                {
                 <div class="border rounded p-2 pl-4 mt-2">
                    <p>Название института: @item.InstitutionName</p>
                    <p>Специальность: @item.Speciality</p>
                    <p>Дата начала учебы: @item.DateOfReceiving</p>
                    <p>Дата окончания учебы: @item.DateOfEnd</p>
                 </div>
                }
            }
            @if (ViewBag.Courses.Count != 0)
            {
                <h5 style="text-align:center;" class="pt-4">Courses experience</h5>
                @foreach (var item in ViewBag.Courses)
                {
                <div class="border rounded p-2 pl-4 mt-2">
                    <p>Название учебного учреждения: @item.CompanyName </p>
                    <p>Специальность: @item.Speciality</p>
                    <p>Дата начала курса: @item.DateOfReceiving</p>
                    <p>Дата окончания курса: @item.DateOfEnd</p>
                </div>
                }
            }
            <p class="mt-3">Telegram: @Model.Telegram | Ссылка на Linkedin: @Model.LinkedInLink | Ссылка на Facebook: @Model.FacebookLink</p>
        </div>
    </div>
</div>